@{
    ViewData["Title"] = "Aplicar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Aplicar</h1>



<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Nombre
            </th>
            <th>
                Opciones
            </th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>No Aplica</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-info text-light"><i class="fa-solid fa-file-lines"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-dark text-light"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-secondary text-light"><i class="fa-solid fa-trash"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Intramuscular</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-info text-light"><i class="fa-solid fa-file-lines"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-dark text-light"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-secondary text-light"><i class="fa-solid fa-trash"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Intravenosa</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-info text-light"><i class="fa-solid fa-file-lines"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-dark text-light"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-secondary text-light"><i class="fa-solid fa-trash"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Intradérmica</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-info text-light"><i class="fa-solid fa-file-lines"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-dark text-light"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-secondary text-light"><i class="fa-solid fa-trash"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>Intraarterial</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-info text-light"><i class="fa-solid fa-file-lines"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-dark text-light"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-secondary text-light"><i class="fa-solid fa-trash"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td>Intraperitoneal</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-info text-light"><i class="fa-solid fa-file-lines"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-dark text-light"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-secondary text-light"><i class="fa-solid fa-trash"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>7</td>
            <td>Intraarticular</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-info text-light"><i class="fa-solid fa-file-lines"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-dark text-light"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-secondary text-light"><i class="fa-solid fa-trash"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>8</td>
            <td>Endovenosa</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-info text-light"><i class="fa-solid fa-file-lines"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-dark text-light"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-secondary text-light"><i class="fa-solid fa-trash"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>9</td>
            <td>Epidural</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-info text-light"><i class="fa-solid fa-file-lines"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-dark text-light"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-secondary text-light"><i class="fa-solid fa-trash"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>10</td>
            <td>Externo</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-info text-light"><i class="fa-solid fa-file-lines"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-dark text-light"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-secondary text-light"><i class="fa-solid fa-trash"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>11</td>
            <td>Subcutánea</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-info text-light"><i class="fa-solid fa-file-lines"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-dark text-light"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="" asp-controller="Mantenimiento" class="btn btn-secondary text-light"><i class="fa-solid fa-trash"></i></a>
                </div>
            </td>
        </tr>

    </tbody>
</table>