@{
    ViewData["Title"] = "Ver Registros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center" style="font-family:'Liberation Sans'">Expediente Digital Bovino</h1>

<hr class="mt-3"/>

<button class="btn btn-success" type="button" onclick="history.back()"><i class="fa-solid fa-arrow-left"></i> Atrás</button>

<a class="btn btn-success" asp-controller="Expediente" asp-action="Portada"><i class="fa-solid fa-bars"></i> Menú</a>

<a class="btn btn-success" asp-action="Farmaco"><i class="fa-solid fa-plus"></i> Nuevo <i class="fa-solid fa-pills"></i></a>

<hr />

<div class="row mt-4">

    <div class="col">

         <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title display-4"><i class="fa-solid fa-cow"></i></h5>
                <h6 class="card-subtitle mb-2 text-muted">Registro Animal</h6>
                <p class="card-text">Ver el todo historial de un animal</p>
                <a asp-controller="Medicamento" asp-action="RegistroAnimal" class="btn btn-success">Registro Animal</a>
                
            </div>
        </div>

    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title display-4"><i class="fa-solid fa-calendar-days"></i></h5>
                <h6 class="card-subtitle mb-2 text-muted">Registro por Fecha</h6>
                <p class="card-text">Ver todos los resgistros en fecha seleccionada</p>
                <a asp-controller="Medicamento" asp-action="RegistroPorFecha" class="btn btn-success">Registro por Fecha</a>
                
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title display-4"><i class="fa-solid fa-hospital-user"></i></h5>
                <h6 class="card-subtitle mb-2 text-muted">Registro por Veterinario</h6>
                <p class="card-text">Ver todos registros ingresados por un usuario</p>
                <a asp-controller="Medicamento" asp-action="RegistroPorUsuario" class="btn btn-success">Registro por Veterinario</a>
            </div>
        </div>
    </div>

@*    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title display-4"><i class="fa-solid fa-table-list"></i></h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text">Ver el historial registrado por veterinario</p>
                <a asp-controller="Medicamento" asp-action="RegistroAnimal" class="btn btn-success">Registro Veterinario</a>
            </div>
        </div>
    </div>
*@


</div>