
@{
    ViewData["Title"] = "Acceso Denegado";
    Layout = "~/Views/Shared/_Start.cshtml";
}

<h1>Acceso Denegado</h1>

<h3>Este usuario no se encuentra autorizado para ingresar a la aplicación</h3>

<h4>Este Usuario se encuentra desactivado, diríjase a su Administrador para ser activado con los privilegios correspondientes</h4>