
@{
    ViewData["Title"] = "Acceso Denegado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-4">

<h1 class="mt-4 display-3">Acceso Denegado</h1>


<h3 class="mt-3">Este usuario no se encuentra autorizado para ingresar a esta opcion de la aplicación</h3>


 <a class="btn btn-lg btn-success mt-4 text-dark" asp-area="" asp-controller="Expediente" asp-action="Portada"><i class="fa-solid fa-bars"></i> Menú</a>

 </div>