
@{
    ViewData["Title"] = "Bienvenid@s";
    Layout = "~/Views/Shared/_Start.cshtml";
}


<div class="text-center">
    <h1 class="display-5">Bienvenid@@s</h1>
    <h5 class="display-1 text-center" style="font-family:'Liberation Sans'">Expediente Digital Bovino</h5>
    <div class="container">
        <p>
            ¡Bienvenid@s a la Aplicación Web del Expediente Digital Bovino, esta aplicación se inicio desde el pasado 1 de Mayo de 2022 y con la meta de finalizar la III Etapa en Noviembre 2022!<br />
            Espero que les guste sea de su agrado y lo más importante sea de máxima utlidad con la accesibilidad que cuesta esta aplicación.<br />
            Para mi es un gran logro, poner en servicio esta aplicación, aceptando las críticas de mi dos asesores de la finca Don Ovidio y Doña Blanca que son dos finqueros que me asesoran en la conformación de esta aplicación. Acá les damos una breve introducción.
        </p>
        <p>
            EXDIBO les da la bienvenida a su nueva página web, en la que podrá acceder a todos nuestros servicios y gozar de estos de una forma fácil y rápida y con un solo clic.<br />
            Soy un profesional en la solución de problemas, y la solvencia al problema es esta aplicación web, desarrollada y realizada por el Ingeniero Andrew Anchía González dando estos acabados a la Interfaz de usuario muy limpia y descriptiva para usuario con poco conocimiento en el ambiente tecnológico.<br />
            Otro punto es la accesibilidad al Expediente Digital Bovino que los usuarios estando a nivel nacional como internacional puedan acceder a su información, disponiendo de las últimas tecnologías disponibles en campo tecnologico para proporcionar las últimas y mejores tendencias en cuanto a calidad, seguridad y disponibilidad.<br />
            Así, que espero que todos los usuarios pueden disfrutar de esta aplicación web nueva y que les proporcione un servicio completo del registro y análisis de la información almacenada, ya que podemos acceder al expediente rápidamente, establecer nuevos registros, ver los últimos registros realizados o editar alguno de estos.<br />
            Todos los usuarios, pueden conectarse a la aplicación web a través del internet esta nueva sede online que nos permite acceder y dar una respuesta de manera fácil y rápida a todos los usuarios.<br />
            En EXDIBO, somos conscientes de la importancia de estar en constante aseguramiento del servicio y brindar el mejor servicio a nuestros usuarios
            También se pueden realizar solicitudes de cálculo o reportes y resolver cualquier tipo de duda respecto a las decisiones posibles a tomar según lo visto en los reportes y contar con estas herramientas le permite a la finca un mejor rendimiento y toma de decisiones en el manejo de sus animales, recursos, medicamentos o tiempos de retiro.<br />
        </p>
    </div>
</div>