
@{
    ViewData["Title"] = "Politicas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-3">Indicaciones para Inicio de Sesi&oacute;n</h1>


<ul>
    <li>Para Ingresar al Expediente Digital Bovino se debe realizar el Inicio de Sesión</li>
    <li>Si no tienes una cuenta, Debes solicitarla al Administrador del Personal o al Dueño</li>
    <li>Unicamente el Administrador con un rol de Administrador tiene la autorización para registrar nuevos usuarios</li>
    <li>Después de creada la cuenta, solo el Usuario del perfil o TI puede editarla</li>
</ul>


<h1 class="mt-3">Políticas de Privacidad</h1>

<p>&Uacute;ltima actualizaci&oacute;n: 10 de Agosto de 2022</p>

<p>Esta Política de Privacidad describe nuestras Pol&iacute;ticas y Procedimientos sobre la Recopilaci&oacute;n, Uso y Divulgaci&oacute;n de su informaci&oacute;n cuando utiliza el servicio y se le informa sobre sus derechos de privacidad y c&oacute;mo la ley lo protege.</p>
<p>Usamos sus datos personales para proporcionar y mejorar el servicio. Al usar el servicio, acepta la recopilación y el uso de información de acuerdo con esta Política de Privacidad. Esta Política de Privacidad ha sido creada con la ayuda del  <a href="https://www.privacypolicies.com/privacy-policy-generator/" class="text-decoration-none" target="_blank">Generador de Políticas de Privacidad</a>.</p>
<h1>Interpretación y Definiciones</h1>
<h2>Interpretación</h2>
<p>Las palabras cuya letra inicial está en mayúscula tienen significados definidos bajo las siguientes condiciones. Las siguientes definiciones tendrán el mismo significado independientemente de que aparezcan en singular o en plural.</p>
<h2>Definiciones</h2>
<p>A los efectos de esta Política de Privacidad:</p>

<ul>
    <li>
        <p><strong>Cuenta</strong> significa una cuenta única creada para que Usted acceda a nuestro Servicio o partes de nuestro Servicio.</p>
    </li>
    <li>
        <p><strong>Afiliado</strong> significa una entidad que controla, es controlada o está bajo el control común de una parte, donde &quot;control&quot; significa la propiedad del 50 % o más de las acciones, participación accionaria u otros valores con derecho a voto para la elección de directores u otra autoridad administrativa.</p>
    </li>
    <li>
        <p><strong>Aplicaci&oacute;n</strong> significa el programa de software proporcionado por la Compañía descargado por Usted en cualquier dispositivo electrónico, denominado EXPEDIENTE DIGITAL BOVINO</p>
    </li>
    <li>
        <p><strong>Compañ&iacute;a</strong> (referida como "la Compañía", "Nosotros", "Nos" o "Nuestro" en este Acuerdo) se refiere a ARWEN, Costa Rica, Alajuela, Quesada 21001.</p>
    </li>
    <li>
        <p><strong>País</strong> se refiere a: Costa Rica</p>
    </li>
    <li>
        <p><strong>Dispositivo</strong> significa cualquier dispositivo que pueda acceder al Servicio, como una computadora, un teléfono celular o una tableta digital.</p>
    </li>
    <li>
        <p><strong>Datos personales</strong> es cualquier información relacionada con una persona física identificada o identificable.</p>
    </li>
    <li>
        <p><strong>Servicio</strong> hace referencia a la Aplicación.</p>
    </li>
    <li>
        <p><strong>Proveedor de servicios</strong> significa cualquier persona física o jurídica que procesa los datos en nombre de la Compañía. Se refiere a empresas de terceros o personas empleadas por la Empresa para facilitar el Servicio, proporcionar el Servicio en nombre de la Empresa, realizar servicios relacionados con el Servicio o ayudar a la Empresa a analizar cómo se utiliza el Servicio.</p>
    </li>
    <li>
        <p><strong>Datos de uso</strong> se refiere a los datos recopilados automáticamente, ya sea generados por el uso del Servicio o por la propia infraestructura del Servicio (por ejemplo, la duración de una visita a la página).</p>
    </li>
    <li>
        <p><strong>Usted</strong> se refiere a la persona que accede o utiliza el Servicio, o la empresa u otra entidad legal en nombre de la cual dicha persona accede o utiliza el Servicio, según corresponda.</p>
    </li>
</ul>
<h1>Recopilación y uso de sus datos personales</h1>
<h2>Tipos de datos recopilados</h2>
<h3>Datos personales</h3>
<p>Mientras usa Nuestro Servicio, podemos pedirle que nos proporcione cierta información de identificación personal que se puede usar para contactarlo o identificarlo. La información de identificación personal puede incluir, entre otros:</p>
<ul>
     <li>
         <p>Dirección de correo electrónico</p>
     </li>
     <li>
         <p>Nombre y apellido</p>
     </li>
     <li>
         <p>Número de teléfono</p>
     </li>
     <li>
         <p>Dirección, estado, provincia, código postal, ciudad</p>
     </li>
     <li>
         <p>Datos de uso</p>
     </li>
</ul>

<h3>Uso de Datos</h3>
<p>Los datos de uso se recopilan autom&aacute;ticamente cuando se utiliza el Servicio.</p>
<p>Los datos de uso pueden incluir informaci&oacute;n como la dirección del protocolo de Internet de su dispositivo (por ejemplo, la direcci&oacute;n IP), el tipo de navegador, la versi&oacute;n del navegador, las p&aacute;ginas de nuestro Servicio que visita, la hora y la fecha de su visita, el tiempo que pasa en esas p&aacute;ginas. , identificadores &uacute;nicos de dispositivos y otros datos de diagn&oacute;stico.</p>
<p>Cuando accede al Servicio a trav&eacute;s de un dispositivo m&oacute;vil, podemos recopilar cierta informaci&oacute;n autom&aacute;ticamente, incluido, entre otros, el tipo de dispositivo m&oacute;vil que utiliza, la identificaci&oacute;n &uacute;nica de su dispositivo m&ovil, la direcci&oacute;n IP de su dispositivo m&oacute;vil , Su sistema operativo m&oacute;vil, el tipo de navegador de Internet m&oacute;vil que utiliza, identificadores &uacute;nicos de dispositivos y otros datos de diagn&oacute;stico.</p>
<p>Tambi&eacute;n podemos recopilar informaci&oacute;n que su navegador env&iacute;a cada vez que visita nuestro Servicio o cuando accede al Servicio a trav&eacute;s de un dispositivo m&oacute;vil.</p>
<h2>Uso de sus datos personales</h2>
<p>La Empresa podr&aacute; utilizar los Datos Personales para los siguientes fines:</p>
<ul>
    <li>
        <p><strong>Para proporcionar y mantener nuestro Servicio</strong>, incluido el control del uso de nuestro Servicio.</p>
    </li>
    <li>
        <p><strong>Para administrar su cuenta:</strong> para administrar su registro como usuario del Servicio. Los Datos Personales que proporcione pueden darle acceso a diferentes funcionalidades del Servicio que est&aacute;n disponibles para usted como usuario registrado.</p>
    </li>
    <li>
        <p><strong>Para la ejecuci&oacute;n de un contrato:</strong> el desarrollo, cumplimiento y realizaci&oacute;n del contrato de compra de los productos, art&iacute;culos o servicios que haya adquirido o de cualquier otro contrato con Nosotros a trav&eacute;s del Servicio.</ pag>
    </li>
    <li>
        <p><strong>Para contactarlo:</strong> para contactarlo por correo electr&oacute;nico, llamadas telef&oacute;nicas, SMS u otras formas equivalentes de comunicaci&oacute;n electrónica, como notificaciones autom&aacute;ticas de una aplicaci&oacute;n m&oacute;vil con respecto a actualizaciones o comunicaciones informativas relacionadas con las funcionalidades, productos o servicios contratados, incluidas las actualizaciones de seguridad, cuando sea necesario o razonable para su implementaci&oacute;n.</p>
    </li>
    <li>
        <p><strong>Para proporcionarle</strong> noticias, ofertas especiales e informaci&oacute;n general sobre otros bienes, servicios y eventos que ofrecemos que son similares a los que ya ha comprado o sobre los que ha consultado, a menos que haya optado por no hacerlo. recibir dicha informaci&oacute;n.</p>
    </li>
    <li>
        <p><strong>Para gestionar sus solicitudes:</strong> Para atender y gestionar Sus solicitudes hacia Nosotros.</p>
    </li>
    <li>
        <p><strong>Para transferencias comerciales:</strong> podemos usar su informaci&oacute;n para evaluar o realizar una fusión, desinversión, reestructuración, reorganización, disolución u otra venta o transferencia de algunos o todos nuestros activos, ya sea como negocio en marcha o como parte de una quiebra, liquidación o procedimiento similar, en el que los datos personales que tenemos sobre los usuarios de nuestro Servicio se encuentran entre los activos transferidos.</p>
    </li>
    <li>
        <p><strong>Para otros fines</strong>: podemos utilizar su informaci&oacute;n para otros fines, como el an&aacute;lisis de datos, la identificaci&oacute;n de tendencias de uso, la determinaci&oacute;n de la eficacia de nuestras campañas promocionales y la evaluaci&oacute;n y mejora de nuestro Servicios, Productos, Servicios, Mercadeo y su Experiencia de Usuario.</p>
    </li>
</ul>

<p>Podemos compartir su información personal en las siguientes situaciones:</p>
<ul>
    <li><strong>Con Proveedores de Servicios:</strong> Podemos compartir Su información personal con Proveedores de Servicios para monitorear y analizar el uso de nuestro Servicio, para contactarlo.</li>
    <li><strong>Para transferencias comerciales:</strong> podemos compartir o transferir Su información personal en relación con, o durante las negociaciones de, cualquier fusión, venta de activos de la Compañía, financiación o adquisición de la totalidad o una parte de Nuestro negocio a otra empresa.</li>
    <li><strong>Con afiliados:</strong> podemos compartir su información con nuestros afiliados, en cuyo caso les exigiremos que respeten esta Política de privacidad. Los afiliados incluyen nuestra empresa matriz y cualquier otra subsidiaria, socios de empresas conjuntas u otras empresas que controlamos o que están bajo control común con nosotros.</li>
    <li><strong>Con socios comerciales:</strong> podemos compartir Su información con Nuestros socios comerciales para ofrecerle ciertos productos, servicios o promociones.</li>
    <li><strong>Con otros usuarios:</strong> cuando comparte información personal o interactúa en las áreas públicas con otros usuarios, dicha información puede ser vista por todos los usuarios y puede distribuirse públicamente al exterior.</li>
    <li><strong>Con su consentimiento</strong>: podemos divulgar su información personal para cualquier otro propósito con su consentimiento.</li>
</ul>
<h2>Retención de sus datos personales</h2>
<p>La Compañía conservará sus Datos personales solo durante el tiempo que sea necesario para los fines establecidos en esta Política de privacidad. Conservaremos y utilizaremos sus datos personales en la medida necesaria para cumplir con nuestras obligaciones legales (por ejemplo, si estamos obligados a conservar sus datos para cumplir con las leyes aplicables), resolver disputas y hacer cumplir nuestras políticas y acuerdos legales.</ pag>
<p>La Empresa también conservará los Datos de uso para fines de análisis interno. Los Datos de uso generalmente se retienen por un período de tiempo más corto, excepto cuando estos datos se usan para fortalecer la seguridad o mejorar la funcionalidad de Nuestro Servicio, o cuando estamos legalmente obligados a retener estos datos por períodos de tiempo más largos.</p>
<h2>Transferencia de sus datos personales</h2>
<p>Su información, incluidos los Datos personales, se procesa en las oficinas operativas de la Compañía y en cualquier otro lugar donde se encuentren las partes involucradas en el procesamiento. Significa que esta información puede transferirse y mantenerse en computadoras ubicadas fuera de Su estado, provincia, país u otra jurisdicción gubernamental donde las leyes de protección de datos pueden diferir de las de Su jurisdicción.</p>
<p>Su consentimiento a esta Política de privacidad seguido de Su envío de dicha información representa Su acuerdo con esa transferencia.</p>
<p>La Empresa tomará todas las medidas razonablemente necesarias para garantizar que sus datos se traten de forma segura y de acuerdo con esta Política de privacidad, y no se realizará ninguna transferencia de sus Datos personales a una organización o país, a menos que existan controles adecuados establecidos, incluidos la seguridad de Sus datos y otra información personal.</p>
<h2>Divulgación de sus datos personales</h2>
<h3>Transacciones comerciales</h3>
<p>Si la Compañía está involucrada en una fusión, adquisición o venta de activos, Sus Datos personales pueden transferirse. Le enviaremos un aviso antes de que sus Datos personales se transfieran y queden sujetos a una Política de privacidad diferente.</p>
<h3>Cumplimiento de la ley</h3>
<p>En determinadas circunstancias, es posible que se le solicite a la Empresa que divulgue Sus Datos personales si así lo exige la ley o en respuesta a solicitudes válidas de las autoridades públicas (p. ej., un tribunal o una agencia gubernamental).</p>
<h3>Otros requisitos legales</h3>
<p>La Compañía puede divulgar sus datos personales de buena fe cuando considere que esta acción es necesaria para lo siguiente:</p>
<ul>
    <li>Cumplir con una obligación legal</li>
    <li>Proteger y defender los derechos o la propiedad de la Compañía</li>
    <li>Prevenir o investigar posibles irregularidades en relación con el Servicio</li>
    <li>Proteger la seguridad personal de los Usuarios del Servicio o del público</li>
    <li>Proteger contra responsabilidad legal</li>
</ul>
<h2>Seguridad de sus datos personales</h2>
<p>La seguridad de sus datos personales es importante para nosotros, pero recuerde que ningún método de transmisión por Internet o método de almacenamiento electrónico es 100 % seguro. Si bien nos esforzamos por utilizar medios comercialmente aceptables para proteger sus datos personales, no podemos garantizar su seguridad absoluta.</p>
<h1>Privacidad infantil</h1>
<p>Nuestro Servicio no se dirige a ninguna persona menor de 13 años. No recopilamos a sabiendas información de identificación personal de ninguna persona menor de 13 años. Si es padre o tutor y sabe que su hijo nos ha proporcionado Datos, por favor contáctenos. Si nos damos cuenta de que hemos recopilado Datos personales de cualquier persona menor de 13 años sin verificación del consentimiento de los padres, tomamos medidas para eliminar esa información de Nuestros servidores.</p>
<p>Si necesitamos confiar en el consentimiento como base legal para procesar Su información y Su país requiere el consentimiento de uno de sus padres, es posible que necesitemos el consentimiento de Su padre antes de recopilar y usar esa información.</p>
<h1>Enlaces a otros sitios web</h1>
<p>Nuestro Servicio puede contener enlaces a otros sitios web que no operamos Nosotros. Si hace clic en el enlace de un tercero, será dirigido al sitio de ese tercero. Le recomendamos encarecidamente que revise la Política de privacidad de cada sitio que visite.</p>
<p>No tenemos control ni asumimos ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de sitios o servicios de terceros.</p>
<h1>Cambios a esta Política de Privacidad</h1>
<p>Podemos actualizar nuestra política de privacidad de vez en cuando. Le notificaremos cualquier cambio publicando la nueva Política de privacidad en esta página.</p>
<p>Le informaremos por correo electrónico y/o mediante un aviso destacado en Nuestro Servicio, antes de que el cambio entre en vigencia y actualizaremos la &quot;Última actualización&quot; fecha en la parte superior de esta Política de privacidad.</p>
<p>Se le recomienda que revise esta Política de privacidad periódicamente para ver si hay cambios. Los cambios a esta Política de Privacidad son efectivos cuando se publican en esta página.</p>
<h1>Contáctenos</h1>

<p>Si tiene alguna pregunta sobre esta Política de privacidad, puede contactarnos:</p>

<div class="border rounded p-2 m-2 border-success text-center" style="width:190px">
    <img src="https://cdn-icons-png.flaticon.com/512/732/732223.png" width="20" height="20" alt="Outlook"/> <a href="mailto:andrewoag98@gmail.com?Subject=Solicitud%20de%20Informacion" class="text-decoration-none text-success my-2"> Correo Electr&oacute;nico</a>
</div>
<div class="border rounded p-2 m-2 border-success text-center" style="width:190px">
    <img src="https://cdn-icons-png.flaticon.com/512/724/724664.png" width="20" height="20" alt="Phone" /> <a class="text-decoration-none text-success my-2" href="tel:+50685758771"> Realizar Llamada</a>
</div>


<hr class="mt-4"/>

<h1 class="mt-4">Privacy Policy</h1>
<p>Last updated: August 10, 2022</p>
<p>This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.</p>
<p>We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Privacy Policy. This Privacy Policy has been created with the help of the <a href="https://www.privacypolicies.com/privacy-policy-generator/" class="text-decoration-none" target="_blank">Privacy Policy Generator</a>.</p>
<h1>Interpretation and Definitions</h1>
<h2>Interpretation</h2>
<p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
<h2>Definitions</h2>
<p>For the purposes of this Privacy Policy:</p>
<ul>
    <li>
        <p><strong>Account</strong> means a unique account created for You to access our Service or parts of our Service.</p>
    </li>
    <li>
        <p><strong>Affiliate</strong> means an entity that controls, is controlled by or is under common control with a party, where &quot;control&quot; means ownership of 50% or more of the shares, equity interest or other securities entitled to vote for election of directors or other managing authority.</p>
    </li>
    <li>
        <p><strong>Application</strong> means the software program provided by the Company downloaded by You on any electronic device, named EXPEDIENTE DIGITAL BOVINO</p>
    </li>
    <li>
        <p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to ARWEN, Costa Rica, Alajuela, Quesada 21001.</p>
    </li>
    <li>
        <p><strong>Country</strong> refers to: Costa Rica</p>
    </li>
    <li>
        <p><strong>Device</strong> means any device that can access the Service such as a computer, a cellphone or a digital tablet.</p>
    </li>
    <li>
        <p><strong>Personal Data</strong> is any information that relates to an identified or identifiable individual.</p>
    </li>
    <li>
        <p><strong>Service</strong> refers to the Application.</p>
    </li>
    <li>
        <p><strong>Service Provider</strong> means any natural or legal person who processes the data on behalf of the Company. It refers to third-party companies or individuals employed by the Company to facilitate the Service, to provide the Service on behalf of the Company, to perform services related to the Service or to assist the Company in analyzing how the Service is used.</p>
    </li>
    <li>
        <p><strong>Usage Data</strong> refers to data collected automatically, either generated by the use of the Service or from the Service infrastructure itself (for example, the duration of a page visit).</p>
    </li>
    <li>
        <p><strong>You</strong> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
    </li>
</ul>

<h1>Collecting and Using Your Personal Data</h1>
<h2>Types of Data Collected</h2>
<h3>Personal Data</h3>
<p>While using Our Service, We may ask You to provide Us with certain personally identifiable information that can be used to contact or identify You. Personally identifiable information may include, but is not limited to:</p>
<ul>
    <li>
        <p>Email address</p>
    </li>
    <li>
        <p>First name and last name</p>
    </li>
    <li>
        <p>Phone number</p>
    </li>
    <li>
        <p>Address, State, Province, ZIP/Postal code, City</p>
    </li>
    <li>
        <p>Usage Data</p>
    </li>
</ul>
<h3>Usage Data</h3>
<p>Usage Data is collected automatically when using the Service.</p>
<p>Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>
<p>When You access the Service by or through a mobile device, We may collect certain information automatically, including, but not limited to, the type of mobile device You use, Your mobile device unique ID, the IP address of Your mobile device, Your mobile operating system, the type of mobile Internet browser You use, unique device identifiers and other diagnostic data.</p>
<p>We may also collect information that Your browser sends whenever You visit our Service or when You access the Service by or through a mobile device.</p>
<h2>Use of Your Personal Data</h2>
<p>The Company may use Personal Data for the following purposes:</p>
<ul>
    <li>
        <p><strong>To provide and maintain our Service</strong>, including to monitor the usage of our Service.</p>
    </li>
    <li>
        <p><strong>To manage Your Account:</strong> to manage Your registration as a user of the Service. The Personal Data You provide can give You access to different functionalities of the Service that are available to You as a registered user.</p>
    </li>
    <li>
        <p><strong>For the performance of a contract:</strong> the development, compliance and undertaking of the purchase contract for the products, items or services You have purchased or of any other contract with Us through the Service.</p>
    </li>
    <li>
        <p><strong>To contact You:</strong> To contact You by email, telephone calls, SMS, or other equivalent forms of electronic communication, such as a mobile application's push notifications regarding updates or informative communications related to the functionalities, products or contracted services, including the security updates, when necessary or reasonable for their implementation.</p>
    </li>
    <li>
        <p><strong>To provide You</strong> with news, special offers and general information about other goods, services and events which we offer that are similar to those that you have already purchased or enquired about unless You have opted not to receive such information.</p>
    </li>
    <li>
        <p><strong>To manage Your requests:</strong> To attend and manage Your requests to Us.</p>
    </li>
    <li>
        <p><strong>For business transfers:</strong> We may use Your information to evaluate or conduct a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Our assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which Personal Data held by Us about our Service users is among the assets transferred.</p>
    </li>
    <li>
        <p><strong>For other purposes</strong>: We may use Your information for other purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Service, products, services, marketing and your experience.</p>
    </li>
</ul>
<p>We may share Your personal information in the following situations:</p>
<ul>
    <li><strong>With Service Providers:</strong> We may share Your personal information with Service Providers to monitor and analyze the use of our Service, to contact You.</li>
    <li><strong>For business transfers:</strong> We may share or transfer Your personal information in connection with, or during negotiations of, any merger, sale of Company assets, financing, or acquisition of all or a portion of Our business to another company.</li>
    <li><strong>With Affiliates:</strong> We may share Your information with Our affiliates, in which case we will require those affiliates to honor this Privacy Policy. Affiliates include Our parent company and any other subsidiaries, joint venture partners or other companies that We control or that are under common control with Us.</li>
    <li><strong>With business partners:</strong> We may share Your information with Our business partners to offer You certain products, services or promotions.</li>
    <li><strong>With other users:</strong> when You share personal information or otherwise interact in the public areas with other users, such information may be viewed by all users and may be publicly distributed outside.</li>
    <li><strong>With Your consent</strong>: We may disclose Your personal information for any other purpose with Your consent.</li>
</ul>
<h2>Retention of Your Personal Data</h2>
<p>The Company will retain Your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use Your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.</p>
<p>The Company will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of Our Service, or We are legally obligated to retain this data for longer time periods.</p>
<h2>Transfer of Your Personal Data</h2>
<p>Your information, including Personal Data, is processed at the Company's operating offices and in any other places where the parties involved in the processing are located. It means that this information may be transferred to — and maintained on — computers located outside of Your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from Your jurisdiction.</p>
<p>Your consent to this Privacy Policy followed by Your submission of such information represents Your agreement to that transfer.</p>
<p>The Company will take all steps reasonably necessary to ensure that Your data is treated securely and in accordance with this Privacy Policy and no transfer of Your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of Your data and other personal information.</p>
<h2>Disclosure of Your Personal Data</h2>
<h3>Business Transactions</h3>
<p>If the Company is involved in a merger, acquisition or asset sale, Your Personal Data may be transferred. We will provide notice before Your Personal Data is transferred and becomes subject to a different Privacy Policy.</p>
<h3>Law enforcement</h3>
<p>Under certain circumstances, the Company may be required to disclose Your Personal Data if required to do so by law or in response to valid requests by public authorities (e.g. a court or a government agency).</p>
<h3>Other legal requirements</h3>
<p>The Company may disclose Your Personal Data in the good faith belief that such action is necessary to:</p>
<ul>
    <li>Comply with a legal obligation</li>
    <li>Protect and defend the rights or property of the Company</li>
    <li>Prevent or investigate possible wrongdoing in connection with the Service</li>
    <li>Protect the personal safety of Users of the Service or the public</li>
    <li>Protect against legal liability</li>
</ul>
<h2>Security of Your Personal Data</h2>
<p>The security of Your Personal Data is important to Us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While We strive to use commercially acceptable means to protect Your Personal Data, We cannot guarantee its absolute security.</p>
<h1>Children's Privacy</h1>
<p>Our Service does not address anyone under the age of 13. We do not knowingly collect personally identifiable information from anyone under the age of 13. If You are a parent or guardian and You are aware that Your child has provided Us with Personal Data, please contact Us. If We become aware that We have collected Personal Data from anyone under the age of 13 without verification of parental consent, We take steps to remove that information from Our servers.</p>
<p>If We need to rely on consent as a legal basis for processing Your information and Your country requires consent from a parent, We may require Your parent's consent before We collect and use that information.</p>
<h1>Links to Other Websites</h1>
<p>Our Service may contain links to other websites that are not operated by Us. If You click on a third party link, You will be directed to that third party's site. We strongly advise You to review the Privacy Policy of every site You visit.</p>
<p>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
<h1>Changes to this Privacy Policy</h1>
<p>We may update Our Privacy Policy from time to time. We will notify You of any changes by posting the new Privacy Policy on this page.</p>
<p>We will let You know via email and/or a prominent notice on Our Service, prior to the change becoming effective and update the &quot;Last updated&quot; date at the top of this Privacy Policy.</p>
<p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
<h1>Contact Us</h1>
<p>If you have any questions about this Privacy Policy, You can contact us:</p>
<div class="border rounded p-2 m-2 border-success text-center" style="width:190px">
    <img src="https://cdn-icons-png.flaticon.com/512/732/732223.png" width="20" height="20" alt="Outlook"/> <a href="mailto:andrewoag98@gmail.com?Subject=Solicitud%20de%20Informacion" class="text-decoration-none text-success my-2"> Correo Electr&oacute;nico</a>
</div>
<div class="border rounded p-2 m-2 border-success text-center" style="width:190px">
    <img src="https://cdn-icons-png.flaticon.com/512/724/724664.png" width="20" height="20" alt="Phone" /> <a class="text-decoration-none text-success my-2" href="tel:+50685758771"> Llamada Telef&oacute;nica</a>
</div>

