@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenid@@</h1>
    <p>Expediente Digital Bovino</p>


    <p>

    ¡Bienvenidos y bienvenidas a la Aplicaión Web del Expediente Digital Bovino, que se inicio  desde el pasado 1 de Mayo de 2022 y con la meta de finalizar en Noviembre 2022!
    Esperamos que les guste. 
    Acá les damos una breve introducción.
    Para mi es un gran logro, poner en servicio esta aplicación, aceptando las criticas de mi dos asesores Don Ovidio y la Señora Lupe que son dos finqueros que me asesoran en la coformación de esta aplicación.
    Etc .... 
    
</p>
</div>
