@{
    ViewData["Title"] = "Politicas";

}



<h1 class="mt-3">Políticas</h1>


    <ul>
        <li>Para Ingresar al Expediente Digital Bovino se debe realizar el Inicio de Sesión</li>
        <li>Si no tienes una cuenta, Debes solicitarla al Administrador del Personal o al Dueño</li>
        <li>Unicamente el Administrador con un rol de Administrador tiene la autorización para registrar nuevos usuarios</li>
        <li>Después de creada la cuenta, solo el Usuario del perfil o TI puede editarla</li>
        <li></li>
    </ul>