@{
    ViewData["Title"] = "Registrar Parto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Registrar Parto</h1>

<h1>Animal</h1>

<hr />


<p class="mt-4">Nuevo Ternero</p>

<p class="my-4">
    #II Etapa <br />
    #Registar  <br />
    #Nuevo <br />
    #Nacimiento <br />    
    #II Etapa Desarrollo
    
</p>

